In [1]:
import pandas as pd
import numpy as np
from random import sample
from pandas import *
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

# Libraries from Alan
from __future__ import division
import json
import os
from matplotlib.pyplot import *

import requests
#import tmy_ids

# Show Plots in the Notebook
%matplotlib inline

# Make Plots larger
rcParams['figure.figsize']= (10, 6)
rcParams['font.size'] = 14

%matplotlib inline

print 'Pandas version: ' + pd.__version__

Pandas version: 0.14.0

In [2]:
# This section reads a csv file and tests to make sure the header is correct

df = pd.read_csv(r"C:\Users\dustin\Dropbox\AKWarm Documentation\02. Work\01. Task 2 - AKWarm library update\Climate Library\NOAA 1981 - 2010 Alaska Hourly Wind Speeds.csv", index_col=None, header=0)
df.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,HLY-WIND-AVGSPD,HLY-WIND-VCTDIR,HLY-WIND-VCTSPD,HLY-WIND-PCTCLM,HLY-WIND-1STDIR,HLY-WIND-1STPCT,HLY-WIND-2NDDIR,HLY-WIND-2NDPCT
0,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,20100101 00:00,51,13,43,242,1,401,2,225
1,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,20100101 01:00,52,11,43,240,1,392,2,213
2,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,20100101 02:00,52,10,43,261,1,360,2,199
3,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,20100101 03:00,51,10,43,254,1,395,2,180
4,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,20100101 04:00,54,14,45,232,1,373,2,253

In [3]:
# Converts to pandas datetime

df['DATE'] = to_datetime(df['DATE'])
df.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,HLY-WIND-AVGSPD,HLY-WIND-VCTDIR,HLY-WIND-VCTSPD,HLY-WIND-PCTCLM,HLY-WIND-1STDIR,HLY-WIND-1STPCT,HLY-WIND-2NDDIR,HLY-WIND-2NDPCT
0,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,2010-01-01 00:00:00,51,13,43,242,1,401,2,225
1,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,2010-01-01 01:00:00,52,11,43,240,1,392,2,213
2,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,2010-01-01 02:00:00,52,10,43,261,1,360,2,199
3,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,2010-01-01 03:00:00,51,10,43,254,1,395,2,180
4,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,2010-01-01 04:00:00,54,14,45,232,1,373,2,253

In [4]:
noaa_index = list(df['STATION_NAME'].unique())
noaa_index

['TALKEETNA AIRPORT AK US',
 'HOMER AIRPORT AK US',
 'ANNETTE WEATHER SERVICE OFFICE AIRPORT AK US',
 'ST PAUL ISLAND AIRPORT AK US',
 'MCGRATH AIRPORT AK US',
 'BARROW W POST W ROGERS AIRPORT AK US',
 'GULKANA AIRPORT AK US',
 'ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US',
 'BIG DELTA AIRPORT AK US',
 'COLD BAY AIRPORT AK US',
 'BETTLES AIRPORT AK US',
 'YAKUTAT AIRPORT AK US',
 'BETHEL AIRPORT AK US',
 'KOTZEBUE RALPH WEIN MEMORIAL AIRPORT AK ',
 'KODIAK AIRPORT AK US',
 'JUNEAU INTERNATIONAL AIRPORT AK US',
 'VALDEZ WEATHER SERVICE OFFICE AK US',
 'NOME MUNICIPAL AIRPORT AK US',
 'KING SALMON AIRPORT AK US',
 'FAIRBANKS INTERNATIONAL AIRPORT AK US']

In [5]:
# Creates month column
df['MONTH'] = pd.DatetimeIndex(df['DATE']).month
# Hourly wind speeds are in tenths of MPH, converts to just MPH in a new column
df['WINDSPEED_MPH'] = df['HLY-WIND-AVGSPD'].map(lambda x: float(x) / 10)
df.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,HLY-WIND-AVGSPD,HLY-WIND-VCTDIR,HLY-WIND-VCTSPD,HLY-WIND-PCTCLM,HLY-WIND-1STDIR,HLY-WIND-1STPCT,HLY-WIND-2NDDIR,HLY-WIND-2NDPCT,MONTH,WINDSPEED_MPH
0,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,2010-01-01 00:00:00,51,13,43,242,1,401,2,225,1,5.1
1,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,2010-01-01 01:00:00,52,11,43,240,1,392,2,213,1,5.2
2,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,2010-01-01 02:00:00,52,10,43,261,1,360,2,199,1,5.2
3,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,2010-01-01 03:00:00,51,10,43,254,1,395,2,180,1,5.1
4,GHCND:USW00026528,TALKEETNA AIRPORT AK US,106.7,62.32,-150.095,2010-01-01 04:00:00,54,14,45,232,1,373,2,253,1,5.4

In [6]:
# Averages by month
monthly_wind = df.groupby(['STATION_NAME','MONTH']).mean()

# Show only monthly avg wind speed
monthly_wind = monthly_wind[['WINDSPEED_MPH']]
monthly_wind.head()

                                                         WINDSPEED_MPH
STATION_NAME                                      MONTH
ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US 1           6.667876
                                                  2           6.743601
                                                  3           7.318439
                                                  4           7.370972
                                                  5           8.369624

In [7]:
monthly_wind_noindex = monthly_wind.reset_index()
monthly_wind_full_year = monthly_wind_noindex[monthly_wind_noindex.STATION_NAME != "VALDEZ WEATHER SERVICE OFFICE AK US"]
monthly_wind_full_year.head()

                                        STATION_NAME  MONTH  WINDSPEED_MPH
0  ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US      1       6.667876
1  ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US      2       6.743601
2  ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US      3       7.318439
3  ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US      4       7.370972
4  ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US      5       8.369624

In [8]:
stations52 = pd.read_csv("C:\Users\dustin\Documents\IPython Notebooks\stations52.csv", index_col=['index'])
stations52.head()

                                            station_name
index
0                                          ALYESKA AK US
1      ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US
2           ANNETTE WEATHER SERVICE OFFICE AIRPORT AK US
3                                         AUKE BAY AK US
4                   BARROW W POST W ROGERS AIRPORT AK US

In [9]:
NOAA52 = stations52.merge(monthly_wind_full_year, left_on='station_name', right_on='STATION_NAME', how='outer')
# NOAA52 = NOAA52.sort(columns=['MONTH'], na_position='first')
stations_needing_tmy_wind = NOAA52.query("MONTH != MONTH")
station_lookup = stations_needing_tmy_wind['station_name']
station_lookup

0                                        ALYESKA AK US
25                                      AUKE BAY AK US
74                               BIG RIVER LAKES AK US
75                                 CANNERY CREEK AK US
88                                  COLLEGE 5 NW AK US
89                           COLLEGE OBSERVATORY AK US
90                            COOPER LANDING 5 W AK US
91                     CORDOVA M K SMITH AIRPORT AK US
92                                  DUTCH HARBOR AK US
93                                 EAGLE AIRPORT AK US
94                                 EIELSON FIELD AK US
107                                    GLEN ALPS AK US
120                                   HOMER 8 NW AK US
133                              ILIAMNA AIRPORT AK US
146                      KENAI MUNICIPAL AIRPORT AK US
159                                    KITOI BAY AK US
184                                      KUPARUK AK US
185                           LITTLE PORT WALTER AK US
186                                     MAIN BAY AK US
187    MATANUSKA AGRICULTURAL EXPERIMENT STATION AK US
200                                      NABESNA AK US
213                                   NORTH POLE AK US
214                             NORTHWAY AIRPORT AK US
215                                PORT ALSWORTH AK US
216                               SEWARD AIRPORT AK US
217                                SITKA AIRPORT AK US
230                                   SUTTON 1 W AK US
243              TANANA CALHOUN MEMORIAL AIRPORT AK US
244                                          TOK AK US
245                UNIVERSITY EXPERIMENT STATION AK US
246                VALDEZ WEATHER SERVICE OFFICE AK US
247                              WHITES CROSSING AK US
248                             WRANGELL AIRPORT AK US
Name: station_name, dtype: object

In [10]:
NOAA52.head()

,station_name,STATION_NAME,MONTH,WINDSPEED_MPH
0,ALYESKA AK US,NaN,NaN,NaN
1,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,1,6.667876
2,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,2,6.743601
3,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,3,7.318439
4,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,4,7.370972

In [11]:
tmy3_to_noaa = [
    #(702730, 'Anchorage Intl AP', 'II', 'ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US'),
    #(703980, 'Annette Island AP', 'II',  'ANNETTE WEATHER SERVICE OFFICE AIRPORT AK US'),
    #(700260, 'Barrow W Post-W Rogers Arpt [NSA - ARM]', 'II', 'BARROW W POST W ROGERS AIRPORT AK US'),
    #(702190, 'Bethel Airport', 'II', 'BETHEL AIRPORT AK US'),
    #(701740, 'Bettles Field', 'II', 'BETTLES AIRPORT AK US'),
    #(702670, 'Big Delta Allen AAF', 'II', 'BIG DELTA AIRPORT AK US'),
    #(703160, 'Cold Bay Arpt', 'II', 'COLD BAY AIRPORT AK US'),
    #(702610, 'Fairbanks Intl Arpt', 'II', 'FAIRBANKS INTERNATIONAL AIRPORT AK US'),
    #(702710, 'Gulkana Intermediate Field', 'II',  'GULKANA AIRPORT AK US'),
    #(703410, 'Homer Arpt', 'II', 'HOMER AIRPORT AK US'),
    #(703810, 'Juneau Intl Arpt', 'II', 'JUNEAU INTERNATIONAL AIRPORT AK US'),
    #(703260, 'King Salmon Arpt', 'II', 'KING SALMON AIRPORT AK US'),
    #(703500, 'Kodiak Airport', 'II',  'KODIAK AIRPORT AK US'),
    #(701330, 'Kotzebue Ralph Wein Memorial', 'II', 'KOTZEBUE RALPH WEIN MEMORIAL AIRPORT AK '),
    #(702310, 'McGrath Arpt', 'II', 'MCGRATH AIRPORT AK US'),
    #(702000, 'Nome Municipal Arpt', 'II', 'NOME MUNICIPAL AIRPORT AK US'),
    #(703080, 'St Paul Island Arpt', 'II', 'ST PAUL ISLAND AIRPORT AK US'),
    #(702510, 'Talkeetna State Arpt', 'II', 'TALKEETNA AIRPORT AK US'),
    #(703610, 'Yakutat State Arpt', 'II', 'YAKUTAT AIRPORT AK US'),
    
    (702986, 'Big River Lake', 'II', 'BIG RIVER LAKES AK US'),
    (702960, 'Cordova', 'II','CORDOVA M K SMITH AIRPORT AK US'),
    (704890, 'Dutch Harbor', 'II', 'DUTCH HARBOR AK US'),
    (702650, 'Fairbanks/Eielson A', 'II', 'EIELSON FIELD AK US'),
    
    #'Homer Arpt' is 7 miles away from Homer 8 NW.  The airport is on the coast and the NW site is inland.
    # Auke bay:  do we need this one?
    # Alyeska: don't think we need it
    # Cannery: middle of nowhere
    # College 5 NW, College, North Pole, University Experiment Station are unnecessary since we have Fairbanks station
    # Cooper landing: no nearby Tmy3
    # Eagle airport - nothing nearby
    # Glen alps : no station
    # Kitoi bay : nothing nearby, on Kodiak island
    # Kuparuk : 28 miles from deadhorse - use deadhorse tmy station?
    # little port walter not near anything
    # Matanuska Agricultural : 6 miles from Palmer Municipal TMY3 station
    (702740, 'Palmer Municipal', 'II', 'MATANUSKA AGRICULTURAL EXPERIMENT STATION AK US'),
    # main bay: not near anything
    # Tok : nothing nearby
    # White's crossing : no nearby tmy3
    # Nabesna: nothing close
    # Sutton: 10 miles from Palmer Municipal Airport tmy3 station
    # Port Alsworth: Nothing nearby
    (703400, 'Iliamna Arpt', 'II', 'ILIAMNA AIRPORT AK US'),
    (702590, 'Kenai Municipal AP', 'II', 'KENAI MUNICIPAL AIRPORT AK US'),
    (702910, 'Northway Airport', 'II', 'NORTHWAY AIRPORT AK US'),
    (702770, 'Seward', 'II', 'SEWARD AIRPORT AK US'),
    (703710, 'Sitka Japonski AP', 'II', 'SITKA AIRPORT AK US'),
    (701780, 'Tanana Ralph M Calhoun Mem AP', 'II', 'TANANA CALHOUN MEMORIAL AIRPORT AK US'),
    (702750, 'Valdez Wso', 'II', 'VALDEZ WEATHER SERVICE OFFICE AK US'),
    (703870, 'Wrangell', 'II', 'WRANGELL AIRPORT AK US')
]

In [12]:
tmy_ids = DataFrame(tmy3_to_noaa, columns=['ids', 'tmy_station', 'tmy_class', 'noaa_index'])
tmy_ids.count()

ids            13
tmy_station    13
tmy_class      13
noaa_index     13
dtype: int64

In [13]:
big_station_lookup = stations_needing_tmy_wind.merge(tmy_ids, left_on='station_name', right_on='noaa_index', how='outer')
big_station_lookup.head()

,station_name,STATION_NAME,MONTH,WINDSPEED_MPH,ids,tmy_station,tmy_class,noaa_index
0,ALYESKA AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUKE BAY AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BIG RIVER LAKES AK US,NaN,NaN,NaN,702986,Big River Lake,II,BIG RIVER LAKES AK US
3,CANNERY CREEK AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,COLLEGE 5 NW AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
remaining_stations = big_station_lookup.query("noaa_index != noaa_index")
remaining_stations.count()
remaining_stations.head()

,station_name,STATION_NAME,MONTH,WINDSPEED_MPH,ids,tmy_station,tmy_class,noaa_index
0,ALYESKA AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUKE BAY AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CANNERY CREEK AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,COLLEGE 5 NW AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,COLLEGE OBSERVATORY AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#tmy_ids = DataFrame(tmy_ids, columns=['ids', 'tmy_station', 'tmy_class'])
#tmy_ids['noaa_index'] = noaa_index
#tmy_ids

In [16]:
subset = tmy_ids[['ids', 'noaa_index']]
tmy_tuple = [tuple(x) for x in subset.values]
tmy_tuple

[(702986L, 'BIG RIVER LAKES AK US'),
 (702960L, 'CORDOVA M K SMITH AIRPORT AK US'),
 (704890L, 'DUTCH HARBOR AK US'),
 (702650L, 'EIELSON FIELD AK US'),
 (702740L, 'MATANUSKA AGRICULTURAL EXPERIMENT STATION AK US'),
 (703400L, 'ILIAMNA AIRPORT AK US'),
 (702590L, 'KENAI MUNICIPAL AIRPORT AK US'),
 (702910L, 'NORTHWAY AIRPORT AK US'),
 (702770L, 'SEWARD AIRPORT AK US'),
 (703710L, 'SITKA AIRPORT AK US'),
 (701780L, 'TANANA CALHOUN MEMORIAL AIRPORT AK US'),
 (702750L, 'VALDEZ WEATHER SERVICE OFFICE AK US'),
 (703870L, 'WRANGELL AIRPORT AK US')]

In [17]:
# tmy_ids = pd.DataFrame(tmy_ids, columns=['id','station_name','tmy_class'])

tmy_first_order = pd.DataFrame()

for ids, noaa_index, in tmy_tuple:
 
    # Read the TMY3 file into a Pandas DataFrame direct from the NREL site
    tmy = pd.read_csv('http://rredc.nrel.gov/solar/old_data/nsrdb/1991-2005/data/tmy3/%sTYA.CSV' % ids, skiprows=1)
    # Create column with noaa station index
    tmy['STATION_NAME'] = noaa_index
    tmy_first_order = tmy_first_order.append(tmy)

tmy_first_order.head()

,Date (MM/DD/YYYY),Time (HH:MM),ETR (W/m^2),ETRN (W/m^2),GHI (W/m^2),GHI source,GHI uncert (%),DNI (W/m^2),DNI source,DNI uncert (%),...,Alb source,Alb uncert (code),Lprecip depth (mm),Lprecip quantity (hr),Lprecip source,Lprecip uncert (code),PresWth (METAR code),PresWth source,PresWth uncert (code),STATION_NAME
0,01/01/2003,01:00,0,0,0,1,0,0,1,0,...,F,8,0,1,D,9,0,C,8,BIG RIVER LAKES AK US
1,01/01/2003,02:00,0,0,0,1,0,0,1,0,...,F,8,0,1,D,9,0,C,8,BIG RIVER LAKES AK US
2,01/01/2003,03:00,0,0,0,1,0,0,1,0,...,F,8,0,1,D,9,0,C,8,BIG RIVER LAKES AK US
3,01/01/2003,04:00,0,0,0,1,0,0,1,0,...,F,8,0,1,D,9,0,C,8,BIG RIVER LAKES AK US
4,01/01/2003,05:00,0,0,0,1,0,0,1,0,...,F,8,0,1,D,9,0,C,8,BIG RIVER LAKES AK US

In [18]:
# Changes date to pandas DateTime format
tmy_first_order['Date (MM/DD/YYYY)'] = to_datetime(tmy_first_order['Date (MM/DD/YYYY)'])
# Creates month column
tmy_first_order['MONTH'] = pd.DatetimeIndex(tmy_first_order['Date (MM/DD/YYYY)']).month
tmy_first_order.head()

,Date (MM/DD/YYYY),Time (HH:MM),ETR (W/m^2),ETRN (W/m^2),GHI (W/m^2),GHI source,GHI uncert (%),DNI (W/m^2),DNI source,DNI uncert (%),...,Alb uncert (code),Lprecip depth (mm),Lprecip quantity (hr),Lprecip source,Lprecip uncert (code),PresWth (METAR code),PresWth source,PresWth uncert (code),STATION_NAME,MONTH
0,2003-01-01,01:00,0,0,0,1,0,0,1,0,...,8,0,1,D,9,0,C,8,BIG RIVER LAKES AK US,1
1,2003-01-01,02:00,0,0,0,1,0,0,1,0,...,8,0,1,D,9,0,C,8,BIG RIVER LAKES AK US,1
2,2003-01-01,03:00,0,0,0,1,0,0,1,0,...,8,0,1,D,9,0,C,8,BIG RIVER LAKES AK US,1
3,2003-01-01,04:00,0,0,0,1,0,0,1,0,...,8,0,1,D,9,0,C,8,BIG RIVER LAKES AK US,1
4,2003-01-01,05:00,0,0,0,1,0,0,1,0,...,8,0,1,D,9,0,C,8,BIG RIVER LAKES AK US,1

In [19]:
# Converts hourly wind speeds from meters per second to miles per hour in a new column
tmy_first_order['wind_speed_mph'] = tmy_first_order['Wspd (m/s)'].map(lambda x: float(x) * 60 * 60 / 1609.34)

In [20]:
# Calculate average wind speed by month for each station
tmy_monthly_wind = tmy_first_order.groupby(['STATION_NAME', 'MONTH']).mean()
tmy_monthly_wind = tmy_monthly_wind[['wind_speed_mph']]
tmy_monthly_wind.head()

                             wind_speed_mph
STATION_NAME          MONTH
BIG RIVER LAKES AK US 1            2.411026
                      2            7.857924
                      3            5.855736
                      4            5.429244
                      5            9.421013

In [21]:
#tmy_monthly_wind.to_excel('TMY_Wind_Speed_Averages.xlsx', sheet_name='TMY3')

In [22]:
# Prepare datasets to be combined
tmy_right = tmy_monthly_wind
noaa_left = NOAA52
tmy_right.reset_index(inplace=True)
tmy_right = tmy_right.rename(columns = {'wind_speed_mph' : 'tmy_wind_speed'})
tmy_right.head()

            STATION_NAME  MONTH  tmy_wind_speed
0  BIG RIVER LAKES AK US      1        2.411026
1  BIG RIVER LAKES AK US      2        7.857924
2  BIG RIVER LAKES AK US      3        5.855736
3  BIG RIVER LAKES AK US      4        5.429244
4  BIG RIVER LAKES AK US      5        9.421013

In [23]:
noaa_left = noaa_left.rename(columns = {'WINDSPEED_MPH' : 'noaa_wind_speed'})
noaa_left.head()

,station_name,STATION_NAME,MONTH,noaa_wind_speed
0,ALYESKA AK US,NaN,NaN,NaN
1,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,1,6.667876
2,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,2,6.743601
3,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,3,7.318439
4,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,4,7.370972

In [24]:
# Combine the NOAA nad TMY datasets
wind_joined = pd.merge(noaa_left, tmy_right, left_on=['station_name'], 
                        right_on=['STATION_NAME'], how='left')
#wind_compare = wind_compare[['STATION_NAME', 'MONTH', 'tmy_wind_speed', 'noaa_wind_speed']]
wind_joined.head()

,station_name,STATION_NAME_x,MONTH_x,noaa_wind_speed,STATION_NAME_y,MONTH_y,tmy_wind_speed
0,ALYESKA AK US,NaN,NaN,NaN,NaN,NaN,NaN
1,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,1,6.667876,NaN,NaN,NaN
2,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,2,6.743601,NaN,NaN,NaN
3,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,3,7.318439,NaN,NaN,NaN
4,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,4,7.370972,NaN,NaN,NaN

In [25]:
wind_joined['MONTH'] = np.where(wind_joined['MONTH_x'] == wind_joined['MONTH_x'], wind_joined['MONTH_x'], wind_joined['MONTH_y'])
wind_joined.head()

,station_name,STATION_NAME_x,MONTH_x,noaa_wind_speed,STATION_NAME_y,MONTH_y,tmy_wind_speed,MONTH
0,ALYESKA AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,1,6.667876,NaN,NaN,NaN,1
2,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,2,6.743601,NaN,NaN,NaN,2
3,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,3,7.318439,NaN,NaN,NaN,3
4,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,4,7.370972,NaN,NaN,NaN,4

In [26]:
wind_joined['data_source'] = np.where(wind_joined['tmy_wind_speed'] == wind_joined['tmy_wind_speed'], 'tmy3', 'no_data')
wind_joined['data_source'] = np.where(wind_joined['noaa_wind_speed'] == wind_joined['noaa_wind_speed'], 'noaa', wind_joined['data_source'])

wind_joined['wind_speed_mph'] = np.where(wind_joined['noaa_wind_speed'] == wind_joined['noaa_wind_speed'], wind_joined['noaa_wind_speed'], 'no_data')
wind_joined['wind_speed_mph'] = np.where(wind_joined['tmy_wind_speed'] == wind_joined['tmy_wind_speed'], wind_joined['tmy_wind_speed'], wind_joined['wind_speed_mph'])
wind_joined.head()

,station_name,STATION_NAME_x,MONTH_x,noaa_wind_speed,STATION_NAME_y,MONTH_y,tmy_wind_speed,MONTH,data_source,wind_speed_mph
0,ALYESKA AK US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no_data,no_data
1,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,1,6.667876,NaN,NaN,NaN,1,noaa,6.66787
2,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,2,6.743601,NaN,NaN,NaN,2,noaa,6.74360
3,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,3,7.318439,NaN,NaN,NaN,3,noaa,7.31843
4,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,4,7.370972,NaN,NaN,NaN,4,noaa,7.37097

In [27]:
wind_joined.to_csv("Wind_Joined_Test_V4.csv")

In [28]:
wind_data = wind_joined[['station_name', 'MONTH', 'wind_speed_mph', 'data_source']]
wind_data.head()

,station_name,MONTH,wind_speed_mph,data_source
0,ALYESKA AK US,NaN,no_data,no_data
1,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,1,6.66787,noaa
2,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,2,6.74360,noaa
3,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,3,7.31843,noaa
4,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,4,7.37097,noaa

In [29]:
wind_data.to_excel('NOAA&TMY3_Wind_DataV3.xlsx', sheet_name="noaa&tmy3")
wind_data.to_csv('NOAA&TMY3_Wind_DataV3.csv', index=False, na_rep="no_data")

In [30]:
wind_data['station_name'].nunique()

52

In [31]:
wind_no_data = wind_data.query("data_source == 'no_data'")
wind_no_data['station_name'].nunique()

20

In [32]:
scaled_stations = pd.read_csv(r"C:\Users\dustin\Dropbox\AKWarm Documentation\02. Work\01. Task 2 - AKWarm library update\Climate Library\scaled_stations.csv", header=0, index_col=None)
scaled_stations = scaled_stations[['STATION_NAME', 'Reference_STATION_NAME', 'Wind_Multiplier', 'data_source']]
scaled_stations.head()

,STATION_NAME,Reference_STATION_NAME,Wind_Multiplier,data_source
0,ST PAUL ISLAND AIRPORT AK US,NaN,NaN,noaa
1,GULKANA AIRPORT AK US,NaN,NaN,noaa
2,TANANA CALHOUN MEMORIAL AIRPORT AK US,NaN,NaN,tmy3
3,SEWARD AIRPORT AK US,NaN,NaN,tmy3
4,KODIAK AIRPORT AK US,NaN,NaN,noaa

In [33]:
scaled_stations['ref_data_source'] = scaled_stations['data_source'].str.split('(').str.get(1)
scaled_stations['ref_data_source'] = scaled_stations['ref_data_source'].str.split(')').str.get(0)
scaled_stations = scaled_stations.drop('data_source', 1)
scaled_stations.head()

,STATION_NAME,Reference_STATION_NAME,Wind_Multiplier,ref_data_source
0,ST PAUL ISLAND AIRPORT AK US,NaN,NaN,NaN
1,GULKANA AIRPORT AK US,NaN,NaN,NaN
2,TANANA CALHOUN MEMORIAL AIRPORT AK US,NaN,NaN,NaN
3,SEWARD AIRPORT AK US,NaN,NaN,NaN
4,KODIAK AIRPORT AK US,NaN,NaN,NaN

In [34]:
ref_wind = wind_data[wind_data['station_name'].isin(scaled_stations['Reference_STATION_NAME'])]
ref_wind.head()

,station_name,MONTH,wind_speed_mph,data_source
1,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,1,6.66787,noaa
2,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,2,6.74360,noaa
3,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,3,7.31843,noaa
4,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,4,7.37097,noaa
5,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US,5,8.36962,noaa

In [35]:
full_wind = scaled_stations.merge(ref_wind, left_on='Reference_STATION_NAME', right_on='station_name')
full_wind.head()

,STATION_NAME,Reference_STATION_NAME,Wind_Multiplier,ref_data_source,station_name,MONTH,wind_speed_mph,data_source
0,NABESNA AK US,NORTHWAY AIRPORT AK US,1,tmy3,NORTHWAY AIRPORT AK US,1,3.432082,tmy3
1,NABESNA AK US,NORTHWAY AIRPORT AK US,1,tmy3,NORTHWAY AIRPORT AK US,2,3.495555,tmy3
2,NABESNA AK US,NORTHWAY AIRPORT AK US,1,tmy3,NORTHWAY AIRPORT AK US,3,5.388204,tmy3
3,NABESNA AK US,NORTHWAY AIRPORT AK US,1,tmy3,NORTHWAY AIRPORT AK US,4,4.686393,tmy3
4,NABESNA AK US,NORTHWAY AIRPORT AK US,1,tmy3,NORTHWAY AIRPORT AK US,5,4.929089,tmy3

In [36]:
full_wind['wind_speed_mph_float'] = full_wind['wind_speed_mph'].map(lambda x: float(x))
full_wind['adjusted_monthly_wind'] = full_wind['Wind_Multiplier'] * full_wind['wind_speed_mph_float']
full_wind.head()

,STATION_NAME,Reference_STATION_NAME,Wind_Multiplier,ref_data_source,station_name,MONTH,wind_speed_mph,data_source,wind_speed_mph_float,adjusted_monthly_wind
0,NABESNA AK US,NORTHWAY AIRPORT AK US,1,tmy3,NORTHWAY AIRPORT AK US,1,3.432082,tmy3,3.432082,3.432082
1,NABESNA AK US,NORTHWAY AIRPORT AK US,1,tmy3,NORTHWAY AIRPORT AK US,2,3.495555,tmy3,3.495555,3.495555
2,NABESNA AK US,NORTHWAY AIRPORT AK US,1,tmy3,NORTHWAY AIRPORT AK US,3,5.388204,tmy3,5.388204,5.388204
3,NABESNA AK US,NORTHWAY AIRPORT AK US,1,tmy3,NORTHWAY AIRPORT AK US,4,4.686393,tmy3,4.686393,4.686393
4,NABESNA AK US,NORTHWAY AIRPORT AK US,1,tmy3,NORTHWAY AIRPORT AK US,5,4.929089,tmy3,4.929089,4.929089

In [37]:
full_wind_df = full_wind[['STATION_NAME', 'MONTH', 'adjusted_monthly_wind']]
full_wind_df.head()

    STATION_NAME  MONTH  adjusted_monthly_wind
0  NABESNA AK US      1               3.432082
1  NABESNA AK US      2               3.495555
2  NABESNA AK US      3               5.388204
3  NABESNA AK US      4               4.686393
4  NABESNA AK US      5               4.929089

In [38]:
all_wind = wind_data.merge(full_wind_df, left_on='station_name', right_on='STATION_NAME', how='left')
all_wind.head()

,station_name,MONTH_x,wind_speed_mph,data_source,STATION_NAME,MONTH_y,adjusted_monthly_wind
0,ALYESKA AK US,NaN,no_data,no_data,ALYESKA AK US,1,6.001083
1,ALYESKA AK US,NaN,no_data,no_data,ALYESKA AK US,2,6.069240
2,ALYESKA AK US,NaN,no_data,no_data,ALYESKA AK US,3,6.586587
3,ALYESKA AK US,NaN,no_data,no_data,ALYESKA AK US,4,6.633873
4,ALYESKA AK US,NaN,no_data,no_data,ALYESKA AK US,5,7.532658

In [39]:
all_wind['MONTH'] = np.where(all_wind['MONTH_x'] == all_wind['MONTH_x'], all_wind['MONTH_x'], 'no_data')
all_wind['MONTH'] = np.where(all_wind['MONTH_y'] == all_wind['MONTH_y'], all_wind['MONTH_y'], all_wind['MONTH'])
all_wind['Wind'] = np.where(all_wind['wind_speed_mph'] == all_wind['wind_speed_mph'], all_wind['wind_speed_mph'], 'no_data')
all_wind['Wind'] = np.where(all_wind['adjusted_monthly_wind'] == all_wind['adjusted_monthly_wind'], all_wind['adjusted_monthly_wind'], all_wind['Wind'])
all_wind.head()

,station_name,MONTH_x,wind_speed_mph,data_source,STATION_NAME,MONTH_y,adjusted_monthly_wind,MONTH,Wind
0,ALYESKA AK US,NaN,no_data,no_data,ALYESKA AK US,1,6.001083,1,6.001083
1,ALYESKA AK US,NaN,no_data,no_data,ALYESKA AK US,2,6.069240,2,6.06924
2,ALYESKA AK US,NaN,no_data,no_data,ALYESKA AK US,3,6.586587,3,6.586587
3,ALYESKA AK US,NaN,no_data,no_data,ALYESKA AK US,4,6.633873,4,6.633873
4,ALYESKA AK US,NaN,no_data,no_data,ALYESKA AK US,5,7.532658,5,7.532658

In [40]:
wind = all_wind[['station_name', 'MONTH', 'Wind']]
wind.head()

    station_name MONTH      Wind
0  ALYESKA AK US     1  6.001083
1  ALYESKA AK US     2   6.06924
2  ALYESKA AK US     3  6.586587
3  ALYESKA AK US     4  6.633873
4  ALYESKA AK US     5  7.532658

In [41]:
wind.to_csv("Wind_for_AKWarm_Lib2.csv")